<!-- @include header -->
<!-- @include nav -->

%main

	%section.sec-text-intro
		%div
			%h1
				Wir sind 86<span>/</span>60.<br>
				Und sind neugierig.

	%section
		%form.form-anfrage(action="/" method="post")
			%div
				%label
					%span Was können wir für Sie tun?
				%input(type="checkbox" id="branding")
				%label.label-checkbox(for="branding") Branding<br>
				%input(type="checkbox" id="web")
				%label.label-checkbox(for="web") Webdesign<br>
				%input(type="checkbox" id="print")
				%label.label-checkbox(for="print") Printdesign<br>
				%input(type="checkbox" id="film")
				%label.label-checkbox(for="film") Film<br>
				%input(type="checkbox" id="foto")
				%label.label-checkbox(for="foto") Fotografie<br>
				%input(type="checkbox" id="objekt")
				%label.label-checkbox(for="objekt")  Objektdesign<br>
				%input(type="checkbox" id="else")
				%label.label-checkbox(for="else") etwas anderes

			%label
				%span Ihr Budget liegt:
				%select
					%option(value="") noch nicht fest.
					%option(value="") bei € 2.000 bis € 5.000.
					%option(value="") bei € 5.000 bis € 10.000.
					%option(value="") bei € 10.000 bis € 20.000.
					%option(value="") über € 20.000.

			%label
				%span Was wir wissen sollten:
				%textarea(type="email" placeholder="Erzählen Sie uns das Wichtigste in ein paar Sätzen!" required)



			%label
				%span Ihr Name:
				%input(type="text" placeholder="" required)
			%label
				%span Ihre Telefonnummer:
				%input(type="tel" placeholder="" required)
			%label
				%span Ihre E-Mail-Adresse:
				%input(type="email" placeholder="" required)



			%input(type="submit" value="Ab die Post")


<!-- @include footer -->