<!-- @include header -->
<!-- @include nav -->

%main

	%section.sec-text-intro
		%div
			%h1
				Wir sind 86<span>/</span>60.<br>
				Und bei uns gibt’s nichts doppelt.

			%p Uns fällt aber immer etwas Neues ein. Erzählen Sie uns, was Sie gerne hätten: Formular und Kontaktdaten

<!-- @include footer -->