<!-- @include header -->

%main

	%h1
		Wir sind 86<span>/</span>60.<br>
		Und stolz auf unsere Arbeiten.

	%section.sec-image-block
		%div
			%a(href="<!-- @path projekt_ballons -->")
				%img(src="<!-- @path mich -->")
				Lass mich nicht hängen
				%span Foodinstallation
		%div
			%a(href="<!-- @path projekt_ballons -->")
				%img(src="<!-- @path teichgraeber_mailing -->")
				Teichgräber
				%span Rebranding

<!-- @include footer -->