<!-- @include header -->
<!-- @include nav -->

%main

	%section.sec-hero
		.hero-text
			%h1
				Wir sind 86<span>/</span>60.<br>
				Das ist unser Blog.

	%section
		%article.article-blog
			%header
				%h2
					%a(href="#")Das ist der Titel des Blog Eintrags und der kann auch lange sein
				%p
					%time 21.09.2014
					von
					%a(href="")Michael Holzer 
					%span.comments
						%a(href="")2 Kommentare
			%p
				Am Beginn unserer Zusammenarbeit steht ein intensiver Kennenlernprozess. Wir stellen Fragen bis die für Sie wesentlichen Themen am Tisch sind. Wir recherchieren und studieren Ihr Umfeld. Vielleicht müssen wir Ihnen am Ende beibringen, dass Sie nicht der sind, für den Sie sich halten. Aber keine Sorge. Gemeinsam entwickeln wir eine Lösung und heben Ihre wahre Identität wie den Schatz der Sierra Madre.
				%a(href="") Weiterlesen …



<!-- @include footer -->