<!-- @include header -->
<!-- @include nav -->

%main

	%section.sec-home-intro
		.div
			%h1
				Wir sind 86<span>/</span>60.<br>
				Und kommen gleich zur Sache.

			%p Wer mit uns arbeitet, fühlt sich bald gestärkt. Bekommt ein einzigartiges Profil und wird in einer sehr bunten, lauten Welt erkannt und wahrgenommen. Dafür gestalten wir Begegnungen mit Ihnen, Ihrem Unternehmen oder Ihrer Marke einfach, beeindruckend und anziehend.
			%a(href="") Call for Action Leistungen


	%section.sec-home-about
		%img(src="<!-- @path home-team-grey -->")

		%div
			.wrapper-text
				%h2 Oliver Schöndorfer <span>/</span> Michael Holzer.<br>Freunde gepfleter Kommunikation.
			
				%p
					Wir ergänzen einander perfekt. Unsere Persönlichkeiten, gebündelten Erfahrungen und Kenntnisse ergeben eine Fülle an Möglichkeiten für verschiedenste Kunden. Wir sind extrem neugierig, was wir für Sie tun können. Welche Probleme wir für Sie lösen dürfen. Und wie wir es auch Ihren Kunden leicht machen werden, Sie ins Herz zu schließen.
					%a(href="<!-- @path leistungen -->") Call for Action über uns

	%section.sec-home-new-project
		%h2 Unser jüngster Streich
		%a(href="<!-- @path projekt-ballons -->")
			%div
				.thumb-box
					%img(src="<!-- @path ballons-thumb -->")
					.thumb-text
						%div
							%p
								Lass mich nicht hängen
								%span Food-Installation

		%a(href="<!-- @path project-overview -->") Call for Action Projects


	%h2 Interessiert am Kennenlernen?
	%p Eine Tasse Kaffee mit uns verpflichtet Sie zu nichts. Rufen Sie einfach an: +43 600 81 42 150 - Anmeldung für Newsletter

<!-- @include footer -->