<!-- @include header -->

%main

	%section.sec-project-hero
		%img(src="<!-- @path mich -->")
		%h2
			Lass mich nicht hängen
			%span Food-Installation

	.wrapper
		%section.sec-project-content
			%p Gemeinsam mit <a href="http://titilaflora.net">Titi Laflora</a> haben wir für die Eröffnung des Planungsbüros Seestadt Aspern diese Installation entwicklelt. Die Tischplatte aus Birkensperrholz steht auf einer Konstruktion aus verschraubten Schraubzwingen. Der alte Federkern einer Matratze stammt vom Sperrmüll und wurde sandgestrahlt und spritzverzinkt. In ihm stehen die 200 Papier-Cones, gefüllt mit allerlei Köstlichkeiten. Eine Wolke aus roten Luftballons schwebt über dem Tisch. Die  daran befestigten Holzgabeln sind jeweils mit den Worten Lass mich nicht hängen bedruckt.

<!-- @include footer -->