<!-- @reload -->

<!DOCTYPE html>
%html

	%head
		%title 86/60
		%meta(charset="utf-8")
		%meta(name="viewport" content="width=device-width, initial-scale=1")
		%meta(name="robots" content="noindex, nofollow")
		<script type="text/javascript" src="//use.typekit.net/ssn2yla.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		<!-- @stylesheet style -->
		<!-- @javascript jquery-1.8.3.min -->
		<!-- @javascript header-nav -->

	%body

		%header

%main

	%section.sec-home-intro
		%div
			%h1
				Wir sind 86<span>/</span>60.<br>
				Und kommen gleich zur Sache.

			%ul
				%li
					%a(href="<!-- @path leistungen -->")Leistungen
				%li
					%a(href="<!-- @path project-overview -->")Arbeiten
				%li
					%a(href="<!-- @path ueber_uns -->")Über uns
				%li
					%a(href="<!-- @path ueber_sie -->")Über Sie
				%li
					%a(href="<!-- @path kontakt -->")Kontakt




<!-- @include footer -->