<!-- @include header -->

%main

	%section.sec-home-intro
		%div
			%h1
				Wir sind 86<span>/</span>60.<br>
				Freunde gepflegter Kommunikation.

			%p Wer mit uns arbeitet, fühlt sich bald gestärkt. Bekommt ein einzigartiges Profil und wird in unserer sehr bunten, lauten Welt erkannt und wahrgenommen. Dafür gestalten wir all Ihre Aktivitäten und Begegnungen mit Ihnen, mit Ihrem Unternehmen, mit Ihrer Marke einfach, beeindruckend und anziehend. So werden aus Ihren Kunden Freunde und Liebhaber.


	%section.sec-home-about
		%img(src="<!-- @path home-team-grey -->")

		%h2 Oliver Schöndorfer und Michael Holzer.<br>Freunde, Partner, Kommunikationsexperten.
		%p Wir ergänzen einander perfekt. Unsere Persönlichkeiten, gebündelten Erfahrungen und Kenntnisse ergeben eine Fülle an Möglichkeiten für verschiedenste Kunden. Wir sind extrem neugierig, was wir für Sie tun können. Welche Probleme wir für Sie lösen dürfen. Und wie wir es auch Ihren Kunden leicht machen werden, Sie ins Herz zu schließen.

	%h2 Interessiert am Kennenlernen?
	%p Eine Tasse Kaffee mit uns verpflichtet Sie zu nichts. Rufen Sie einfach an: +43 600 81 42 150 - Anmeldung für Newsletter

<!-- @include footer -->