<!-- @include header -->

%main

	%section.sec-project-hero
		%h2
			Teichgräber
			%span Rebranding
		%img(src="<!-- @path teichgraeber-opener -->")

	.wrapper
		%section.sec-project-content
			%p Aus eins wird zwei, ein Unternehmen vergrössert sich. Die ursprüngliche Marke von 2006, wird durch eine Erweiterung beim Namen und einen neuen Leitsatz neu definiert. Zur Einführung gestalteten wir ein minimalistisches Mailing. Die Auflösung erfolgt auf der ebenfalls redesignten <a href="http://teichgraeber.de">Website</a> für die wir auch das Fotoshooting und einen Imagefilm entwickelt haben.

<!-- @include footer -->