<!-- @include header -->
<!-- @include nav -->

%main.page-home

	%section.sec-hero
		.hero-text
			%h1
				Wir sind 86<span>/</span>60.<br>
				Freunde gepflegter Kommunikation.
		.hero-text
			%p
				Wer mit uns arbeitet, fühlt sich bald gestärkt. Bekommt ein einzigartiges Profil und wird in einer sehr bunten, lauten Welt erkannt und wahrgenommen. Dafür gestalten wir Begegnungen mit Ihnen, Ihrem Unternehmen oder Ihrer Marke einfach, beeindruckend und anziehend.
				%a(href="<!-- @path leistungen -->") Was wir für Sie tun können
		.hero-image
			%img(src="<!-- @path home-team-handhelds -->")
			%img(src="<!-- @path home-team -->")
				
	.sec-home-new-project
		%section
			%h2 Unser jüngster Streich

		%div
			%div
				%a(href="<!-- @path projekt-wilddegrees -->")
					.thumb-box
						%img(src="<!-- @path wild-degrees-title -->")
						.thumb-text
							.thumb-title
								wild degrees
							.thumb-subtitle
								Schräges Design für schräge Möbel
			%div
				%a(href="<!-- @path projekt-teichgraeber -->")
					.thumb-box
						%img(src="<!-- @path teichgraeber-title -->")
						.thumb-text
							.thumb-title
								Teichgräber
							.thumb-subtitle
								Rebranding



	%section
		%h2 Bleiben Sie auf dem Laufenden
		
		%form.form-newsletter(action="http://8660.us8.list-manage1.com/subscribe/post?u=727c8d8ed83edc6f76b3d5e55&amp;id=c2db0976b9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate)
			
			#mce-responses.clear
			<div style="position: absolute; left: -5000px;"><input type="text" name="b_727c8d8ed83edc6f76b3d5e55_c2db0976b9" tabindex="-1" value=""></div>

			.mc-field-group
				%input(type="email" value="" name="EMAIL" placeholder="Ihre E-Mail Adresse" class="required email" id="mce-EMAIL")
			
				%input(type="submit" value="Newsletter bestellen" name="subscribe" id="mc-embedded-subscribe" class="button")

<!-- @include footer -->