<!-- @reload -->

<!DOCTYPE html>
%html

	%head
		%title 86/60
		%meta(charset="utf-8")
		%meta(name="viewport" content="width=device-width, initial-scale=1")
		%meta(name="robots" content="noindex, nofollow")
		<script type="text/javascript" src="//use.typekit.net/ssn2yla.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		<!-- @stylesheet style -->
		<!-- @javascript jquery-1.8.3.min -->

	%body

		%header

%main

	%section.sec-home-intro
		%div
			%h1
				Wir sind 86<span>/</span>60.<br>
				Und kommen gleich zur Sache.

			%p Wer mit uns arbeitet, f체hlt sich bald gest채rkt. Bekommt ein einzigartiges Profil und wird in einer sehr bunten, lauten Welt erkannt und wahrgenommen. Daf체r gestalten wir all Ihre Aktivit채ten und Begegnungen mit Ihnen, mit Ihrem Unternehmen, mit Ihrer Marke einfach, beeindruckend und anziehend. So werden aus Ihren Kunden Freunde und Liebhaber.
			%a(href="") Call for Action Leistungen




<!-- @include footer -->