<!-- @include header -->
<!-- @include nav -->

.sonntag
	%div
		%h1
			Wir sind 86<span>/</span>60.<br>
			Und haben Sonntags geschlossen.
		%p
			Genießen Sie den Tag, lassen Sie es sich gut gehen.<br>Ab morgen sind wir wieder für Sie erreichbar.

%main.page-home

	%section.sec-home-intro
		.div
			%h1
				Wir sind 86<span>/</span>60.<br>
				Und noch ein Subsatz.

			%p Wer mit uns arbeitet, fühlt sich bald gestärkt. Bekommt ein einzigartiges Profil und wird in einer sehr bunten, lauten Welt erkannt und wahrgenommen. Dafür gestalten wir Begegnungen mit Ihnen, Ihrem Unternehmen oder Ihrer Marke einfach, beeindruckend und anziehend.
			%a(href="<!-- @path leistungen -->") Was wir für Sie tun können


	.sec-home-about
		%header.header-image
			%img(src="<!-- @path home-team-handhelds -->")
			%img(src="<!-- @path home-team -->")

			%div
				%h2 Oliver Schöndorfer <span>/</span> Michael Holzer.<br>Freunde gepflegter Kommunikation.

		%section
			%p
				Wir ergänzen einander perfekt. Unsere Persönlichkeiten, gebündelten Erfahrungen und Kenntnisse ergeben eine Fülle an Möglichkeiten für verschiedenste Kunden. Wir sind extrem neugierig, was wir für Sie tun können. Welche Probleme wir für Sie lösen dürfen. Und wie wir es auch Ihren Kunden leicht machen werden, Sie ins Herz zu schließen.
				%a(href="<!-- @path leistungen -->") Call for Action über uns

	%section
		%h2 Unser jüngsten Streiche

	%section.sec-home-new-project
		%div
			%a(href="<!-- @path projekt-wilddegrees -->")
				.thumb-box
					%img(src="<!-- @path wilddegrees-title -->")
					.thumb-text
						%p
							wild degrees
							%span Branding & Image-Bilder
		%div
			%a(href="<!-- @path projekt-ballons -->")
				.thumb-box
					%img(src="<!-- @path ballons-thumb -->")
					.thumb-text
						%p
							Lass mich nicht hängen
							%span Food-Installation



	%section
		%h2 Interessiert am Kennenlernen?
		%p Eine Tasse Kaffee mit uns verpflichtet Sie zu nichts.<br> Rufen Sie einfach an: <a href="tel:+436608142150">+43 660 81 42 150</a>.

		%form(action="http://8660.us8.list-manage1.com/subscribe/post?u=727c8d8ed83edc6f76b3d5e55&amp;id=c2db0976b9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate)
			
			#mce-responses.clear
			<div style="position: absolute; left: -5000px;"><input type="text" name="b_727c8d8ed83edc6f76b3d5e55_c2db0976b9" tabindex="-1" value=""></div>

			.mc-field-group
				%input(type="email" value="" name="EMAIL" placeholder="Ihre E-Mail Adresse" class="required email" id="mce-EMAIL")
			
				%input(type="submit" value="Newsletter bestellen" name="subscribe" id="mc-embedded-subscribe" class="button")

<!-- @include footer -->