<!-- @include header -->
<!-- @include nav -->

%main

	%section.sec-text-intro
		%h1
			Wir sind 86<span>/</span>60.<br>
			Und einfach zu erreichen.

		%p
			%a(href="mailto:beide@8660.at") beide@8660.at<br>
			%a(href="tel:+436608142150") +43 660 81 42 150

		%p
			Liniengasse 2b, 1060 Wien<br>
			%a(href="") Google Maps

<!-- @include footer -->