<!-- @include header -->
<!-- @include nav -->

%main

	%section.sec-hero
		.hero-text
			%h1
				Wir sind 86<span>/</span>60.<br>
				Und haben viel zu bieten.
		.hero-text		
			%p Ob Kulturveranstalter, Installateur, kleine Brauerei oder Sojajoghurt – Sie können einer von vielen No-Names sein oder eine Persönlichkeit, die sich von der Masse abhebt und im Gedächtnis bleibt. Wie Sie arbeiten, wie Sie aussehen, welchen Ton Sie anschlagen und welche Gefühle Sie wecken, all diese Eigenschaften, Handlungen und Auftritte gehören zu Ihrer Marke. Wir sorgen mit der richtigen Strategie für die Vermittlung all dieser Facetten über verschiedenste Medien. 

		.hero-image
			%img(src="<!-- @path team-leistungen-handhelds -->")
			%img(src="<!-- @path team-leistungen-handhelds -->")
			%img(src="<!-- @path team-leistungen -->")

	%section	
		%div
			%h2 Wir sind 86/60. Aber wer sind Sie?
			%p Am Beginn unserer Zusammenarbeit steht ein intensiver Kennenlernprozess. Wir stellen Fragen bis die für Sie wesentlichen Themen am Tisch sind. Wir recherchieren und studieren Ihr Umfeld. Vielleicht müssen wir Ihnen am Ende beibringen, dass Sie nicht der sind, für den Sie sich halten. Aber keine Sorge. Gemeinsam entwickeln wir eine Lösung und heben Ihre wahre Identität wie den Schatz der Sierra Madre.

			%h2 Unsere Methode hat Hand und Fuß und Hirn
			%p Wir lieben gutes Design, aber wir sind keine Hübschis. In erster Linie denken wir an Ihre Kunden und an die Qualität ihrer Begegnungen mit Ihnen. Ihre Kunden sollen Sie stets als besonders und wertvoll wahrnehmen und dieser Eindruck soll nachhaltig wirken. Deshalb kommunizieren wir von 86/60 nur echte Inhalte. Die Welt quillt schon über von leerem Blabla.

			%h2 Wir können alles und fürchten nichts
			%p Wir designen, programmieren, konzipieren, texten, illustrieren, analysieren, organisieren, programmieren und wir arbeiten mit handverlesenen Kreativen zusammen. Solche, die für Geld nicht alles machen, aber für eine reizvolle Aufgabe gern früh aufstehen. Freunde gepflegter Kommunikation wie wir. 

			%p <br>
			%a.btn-action(href="<!-- @path project-overview -->") Unsere Arbeiten

<!-- @include footer -->