<!-- @include header -->
<!-- @include nav-light -->

%main.page-project-detail

	%section.sec-project-hero
		%h1
			the rooms
			%span Design für außergewöhnliche Unterkünfte
		%img(src="<!-- @path therooms-title-2 -->")

	%section.sec-project-descr
		%p Eva Elbaranes Koll führt seit vielen Jahren das kleine und charmante Bed & Breakfast the rooms an der Alten Donau. Außerdem vermietet sie vier extravagante Apartments im zweiten Wiener Bezirk. Das Besondere: jedes Zimmer und Apartment ist nach einem ganz individuellen Motto mit viel Liebe zum Detail und so manchem Mitbringsel ihrer Reisen um die Welt eingerichtet.
		%p Diesen außergewöhnlichen Charme sieht man auch der von 86/60 gestalteten Website an. Eine schlüssiges Konzept mit klare Struktur informiert und überzeugt vom Mobilgeräten bis zum Desktop-Computer. Das Design mit viel Platz für ausdrucksstarte Fotos und einem verspielten, freundlicher Illustartionsstil machen Lust auf eine Aufenthalt bei the rooms.

		%ul.leistungen
			%li <a href="#webdesign">Webdesign</a>
			%li <a href="#illustrationen">Illustrationen</a>

	%section.sec-image-block#webdesign
		%h2 Webdesign
		%div
			%img(src="<!-- @path therooms-tablet-mobile -->")
			%img(src="<!-- @path therooms-browser-long -->")

	%section
		%a.btn-website(href="http://therooms.at" traget="_blank") Website besuchen


	%section.sec-image-block#illustrationen
		%h2 Illustrationen
		%div
			%figure
				%img(src="<!-- @path therooms-icons -->")
				%figcaption
					Verspielte Icons, um verschiedene Features von the rooms zu visualisieren
			%figure
				%img(src="<!-- @path therooms-illu-map-apartments -->")
				%figcaption
					Der Lageplan der Apartmenst als charmante Illustartion
			%figure
				%img(src="<!-- @path therooms-illu-floorplans -->")
				%figcaption
					Illustration von Grundrissen der Zimmer und Apartments




	%section
		%a.btn-action(href="<!-- @path anfrage -->") Sie wollen auch so etwas?

	%section.sec-next
		%a.btn(href="<!-- @path projekt-teichgraeber -->") Nächstes Projekt
		%a.btn(href="<!-- @path project-overview -->") Alle Projekte





<!-- @include footer -->