<!-- @include header -->
<!-- @include nav -->

%main

	%section.sec-project-hero
		%h2
			wild degrees
			%span Branding
		%img(src="<!-- @path wilddegrees-title -->")

	%section.sec-project-descr
		%p Aus eins wird zwei, ein Unternehmen vergrössert sich. Die ursprüngliche Marke von 2006, wird durch eine Erweiterung beim Namen und einen neuen Leitsatz neu definiert. Zur Einführung gestalteten wir ein minimalistisches Mailing. Die Auflösung erfolgt auf der ebenfalls redesignten <a href="http://teichgraeber.de">Website</a> für die wir auch das Fotoshooting und einen Imagefilm entwickelt haben.


	%section.sec-image-block
		%div
			%img(src="<!-- @path teichgraeber-mailing -->")

	%section.sec-project-descr
		%h3 Über das Projekt
		%p Aus eins wird zwei, ein Unternehmen vergrössert sich. Die ursprüngliche Marke von 2006, wird durch eine Erweiterung beim Namen und einen neuen Leitsatz neu definiert. Zur Einführung gestalteten wir ein minimalistisches Mailing. Die Auflösung erfolgt auf der ebenfalls redesignten <a href="http://teichgraeber.de">Website</a> für die wir auch das Fotoshooting und einen Imagefilm entwickelt haben.

		%h3	Was 86/60 in diesem Projekt gemacht hat:
		%ul.leistungen
			%li Logo
			%li Claim
			%li Mailing
			%li Website
			%li Fotoshooting
			%li Imagefilm
			%li Visitenkarten
			%li Briefpapier

	%section
		%a.btn(href="<!-- @path anfrage -->#") Sie wollen auch so etwas?
		%a.btn(href="<!-- @path project-overview -->#") Alle Projekte





<!-- @include footer -->