<!-- @include header -->
<!-- @include nav -->

%main.page-project-detail

	%section.sec-project-hero
		%h2
			wild degrees
			%span Schräges Design für schräge Möbel
		%img(src="<!-- @path wild-degrees-title -->")

	%section.sec-project-descr
		%p Jöhn Mörth denkt anders,  buchstäblich schräge Möbel. Um diese wirkungsvoll zu positinieren, entwickelte 86/60 für sein Furniture Label und seine Produktserie die Namen. Texte und ausdrucksstarke Imagebilder und Werbedrucksorten. Und auch dabei macht gerade die Schräge aus Vertrautem Abenteuerliches.

		%h3	Was 86/60 in diesem Projekt gemacht hat:
		%ul.leistungen
			%li Branding
			%li Fotoshooting

	%section.sec-image-block
		%h2 Branding
		%img(src="<!-- @path wild-degrees-logo -->")
		.two-img
			%img(src="<!-- @path wild-degrees-logo-nine -->")
			%img(src="<!-- @path wild-degrees-logo-seven -->")


	%section.sec-image-block
		%h2 Fotoshooting
		%figure
			%img(src="<!-- @path wild-degrees-nine-grau -->")
			%figcaption
				Produktfotos vom Tisch nine°
		%figure
			%img(src="<!-- @path wild-degrees-nine-john-moerth -->")
			%figcaption
				Imagebilder für wild degrees mit Möbeldesigner John Mörth
		%figure
			%img(src="<!-- @path wild-degrees-john-moerth-portrait -->")
			%figcaption
				John Mörth hinter nine°
				
	%section.sec-image-block
		%h2 Werbemittel
		%img(src="<!-- @path wild-degrees-flyer-stapel -->")
		%figure
			%img(src="<!-- @path wild-degrees-flyer-back -->")
			%figcaption
				Schräg angeschnittene Flyer vermitteln die Grundidee des Designs auch auf Papier

		%img(src="<!-- @path wild-degrees-poster -->")





	%section
		%a.btn(href="<!-- @path anfrage -->#") Sie wollen auch so etwas?
		%a.btn(href="<!-- @path project-overview -->#") Alle Projekte





<!-- @include footer -->