<!-- @include header -->
<!-- @include nav -->

%main.page-project-detail

	%section.sec-project-hero
		%h1
			wild degrees
			%span Schräges Design für schräge Möbel
		%img(src="<!-- @path wild-degrees-title -->")

	%section.sec-project-descr
		%p Für sein Furniture Label und seine Produktlinie an Tischen hatte John Mörth noch keinen passenden Namen, als er an 86/60 herantrat. Was aber fest stand war, dass seine Möbel alle schräg sind, richtig schräg.
		%p 86/60 erarbeitete neben dem Namen und Branding aussagekräftige Imagebilder und einen extravaganten Flyer. wild degrees erhielt damit eine solide Grundausstattung, um den Markenauftritt zu professionalisieren und neue Kunden zu erreichen.

		%ul.leistungen
			%li <a href="#branding">Branding</a>
			%li <a href="#fotoshooting">Fotoshooting</a>
			%li <a href="#flyer">Flyer & Poster</a>

	%section.sec-image-block#branding
		%h2 Branding
		%img(src="<!-- @path wild-degrees-logo -->")
		%img(src="<!-- @path wild-degrees-logo-construction -->")
		%img(src="<!-- @path wild-degrees-farbpalette -->")
	
		%figure
			%img(src="<!-- @path wild-degrees-logo-nine-seven -->")
			%figcaption
				Namens- und Logoentwicklung für die Produktlinie an unterschiedlich schrägen Tischen.



	%section.sec-image-block#fotoshooting
		%h2 Fotoshooting
		%figure
			%img(src="<!-- @path wild-degrees-nine-grau -->")
			%figcaption
				Produktfotos vom Tisch nine°
		%figure
			%img(src="<!-- @path wild-degrees-nine-john-moerth -->")
			%figcaption
				Imagebilder für wild degrees mit Möbeldesigner John Mörth
		%figure
			%img(src="<!-- @path wild-degrees-john-moerth-portrait -->")
			%figcaption
				John Mörth hinter nine°
				
	%section.sec-image-block#flyer
		%h2 Flyer & Poster
		%img(src="<!-- @path wild-degrees-flyer -->")
		%img(src="<!-- @path wild-degrees-poster -->")



	%section
		%a.btn-action(href="<!-- @path anfrage -->") Sie wollen auch so etwas?

	%section.sec-next
		%a.btn(href="<!-- @path projekt-usb -->") Nächstes Projekt
		%a.btn(href="<!-- @path project-overview -->") Alle Projekte





<!-- @include footer -->