<!-- @include header -->
<!-- @include nav -->

%main.page-project-detail

	%section.sec-project-hero
		%h1.light
			Rettungsboot
			%span Coworking Space Klagenfurt
		%img(src="<!-- @path rettungsboot-title -->")

	%section.sec-project-descr
		%p Text

		%ul.leistungen
			%li <a href="#branding">Branding</a>
			%li <a href="#webdesign">Webdesign</a>
			%li <a href="#flyer">Flyer</a>

	%section.sec-image-block#branding
		%h2 Branding
		%figure
			%img(src="<!-- @path rettungsboot-logo -->")
			%figcaption
				Logo-Design
		%figure
			%img(src="<!-- @path rettungsboot-facebook-title-einsamkeit -->")
			%figcaption
				Key-Visuals und Slogans
		%img(src="<!-- @path rettungsboot-facebook-title-austausch -->")

	%section.sec-image-block#webdesign
		%h2 Webdesign
		%img(src="<!-- @path rettungsboot-webdesign-mobile-tablet -->")
		%img(src="<!-- @path rettungsboot-webdesign-browser-long -->")

	%section
		%a.btn-website(href="http://rettungsboot.co.at" traget="_blank") Website besuchen

	%section.sec-image-block#flyer
		%h2 Flyer

	%section
		%a.btn(href="<!-- @path anfrage -->#") Sie wollen auch so etwas?
		%a.btn(href="<!-- @path project-overview -->#") Alle Projekte

<!-- @include footer -->