<!-- @include header -->
<!-- @include nav-light -->

%main.page-project-detail

	%section.sec-project-hero
		%h1.light
			Teichgräber
			%span Rebranding
		%img(src="<!-- @path teichgraeber-title -->")

	%section.sec-project-descr
		%p Aus eins wird zwei, ein Unternehmen vergrössert sich. Die ursprüngliche Marke von 2006, wird durch eine Erweiterung beim Namen und einen neuen Leitsatz neu definiert. Zur Einführung gestalteten wir ein minimalistisches Mailing. Die Auflösung erfolgt auf der ebenfalls redesignten <a href="http://teichgraeber.de">Website</a> für die wir auch das Fotoshooting und einen Imagefilm entwickelt haben.

		%ul.leistungen
			%li <a href="#branding">Branding</a>
			%li <a href="#directmail">Direct Mail</a>
			%li <a href="#webdesign">Webdesign</a>
			%li <a href="#film">Film</a>
			%li <a href="#fotoshooting">Fotoshooting</a>

	%section.sec-image-block#branding
		%h2 Branding
		%div
			%img(src="<!-- @path teichgraeber-logo -->")

	%section.sec-image-block#directmail
		%h2 Direct Mail
		%div
			%img(src="<!-- @path teichgraeber-mailing -->")

	%section.sec-image-block#webdesign
		%h2 Webdesign
		%div
			%img(src="<!-- @path teichgraeber-mailing -->")

	%section.sec-image-block#film
		%h2 Film
		%div
			%img(src="<!-- @path teichgraeber-mailing -->")

	%section.sec-image-block#fotoshooting
		%h2 Fotoshotting
		%div
			%img(src="<!-- @path teichgraeber-mailing -->")


	%section
		%a.btn-action(href="<!-- @path anfrage -->") Sie wollen auch so etwas?

	%section.sec-next
		%a.btn(href="<!-- @path projekt-rettungsboot -->") Nächstes Projekt
		%a.btn(href="<!-- @path project-overview -->") Alle Projekte





<!-- @include footer -->