<!-- @include header -->

%main

	%section.sec-project-hero
		%h2
			Lass mich nicht hängen
			%span Foodinstallation
		%img(src="<!-- @path mich_title -->")



	%section.sec-image-block
		%div
			%img(src="<!-- @path tisch_1 -->")
		%div
			%img(src="<!-- @path tisch_2 -->")
		%div
			%img(src="<!-- @path wolke_2 -->")
		%div
			%img(src="<!-- @path cones -->")
		%div
			%img(src="<!-- @path crowd_3 -->")
		%div
			%img(src="<!-- @path crowd_2 -->")
		%div
			%img(src="<!-- @path lass -->")
		%div
			%img(src="<!-- @path mich -->")
		%div
			%img(src="<!-- @path nicht -->")
		%div
			%img(src="<!-- @path haengen -->")

	%section.sec-project-descr
		%p Aus eins wird zwei, ein Unternehmen vergrössert sich. Die ursprüngliche Marke von 2006, wird durch eine Erweiterung beim Namen und einen neuen Leitsatz neu definiert. Zur Einführung gestalteten wir ein minimalistisches Mailing. Die Auflösung erfolgt auf der ebenfalls redesignten <a href="http://teichgraeber.de">guten Website</a> für die wir auch das Fotoshooting und einen Imagefilm entwickelt haben.

	%section.sec-project-details
		%div
			%h3	Was 86/60 in diesem Projekt gemacht hat:
			%ul.leistungen
				%li Logo
				%li Claim
				%li Mailing
				%li Website
				%li Fotoshooting
				%li Imagefilm
				%li Visitenkarten
				%li Briefpapier
		%div
			%ul.credits
				%li Kunde: Seestadt Aspern

		
		

		%li Mehr Projekte
		%li Sie wollen auch so etwas?
		Schade, wir schaffen einzigartiges für unsere Kudnen und wiederholen uns nicht. Aber uns fällt immer etwas Neues ein. Erzählen Sie uns, was Sie gerne hätten:
		Formular und Kontaktdaten




<!-- @include footer -->