<!-- @include header -->

%main

	%h1
		Wir sind 86<span>/</span>60.<br>
		Und stolz auf unsere Arbeiten.

	%section.sec-project-overview
		%div
			%a(href="<!-- @path projekt-ballons -->")
				%img(src="<!-- @path ballons-thumb -->")
				Lass mich nicht hängen
				%span Food-Installation
		%div
			%a(href="<!-- @path projekt-teichgraeber -->")
				%img(src="<!-- @path teichgraeber-thumb -->")
				Teichgräber
				%span Rebranding

		%div
			%a(href="#")
				%img(src="<!-- @path birgit-oliver-thumb -->")
				Hochzeitseinladungen Birgit & Oliver
				%span Film

		%div
			%a(href="#")
				%img(src="<!-- @path typographic-eames-chair-thumb -->")
				A Typographic Eames Chair
				%span Installation

		%div
			%a(href="#")
				%img(src="<!-- @path usb-thumb -->")
				Unser Schulbuffet
				%span Branding

		%div
			%a(href="#")
				%img(src="<!-- @path sonnos-film-thumb -->")
				SONNOS
				%span Film

		%div
			%a(href="#")
				%img(src="<!-- @path jean-prouve-thumb -->")
				Jean Prouvé by G-Star Raw
				%span Food-Installation

		%div
			%a(href="#")
				%img(src="<!-- @path kostbar-thumb -->")
				Kostbar
				%span Food-Installation

		%div
			%a(href="#")
				%img(src="<!-- @path qikbee-mailing-thumb -->")
				Qikbee
				%span Direct Mailing


<!-- @include footer -->