<!-- @include header -->
<!-- @include nav-light -->

%main.page-project-detail

	%section.sec-project-hero
		%h1
			A Typographic Eames Chair
			%span Ein Buchstaben zum Sitzen
		%img(src="<!-- @path eameschair-title -->")

	%section.sec-project-descr
		%p Die legendären Möbeldesigner <a href="http://en.wikipedia.org/wiki/Charles_and_Ray_Eames">Charles und Ray Eames</a> inspirierten die Schriftgestalter Erik van Blokland und House Industries 2010 die wunderschönen Schrift <a href="http://www.houseind.com/fonts/eames">Eames Century Modern</a> zu entwerfen. Verliebt in die Formensprache dieser Schrift wurde sie im Zuge eines freien Projektes wieder zum Einrichtungsobjekt. Der Film zeigt den Entstehungsprozess.

		%ul.leistungen
			%li <a href="#film">Film</a>
			%li <a href="#einrichtungsobjekt">Einrichtungsobjekt</a>

	%section.sec-image-block#film
		%h2 Film
		%img(src="<!-- @path eameschair-vimeo -->")


	%section.sec-image-block#einrichtungsobjekt
		%h2 Einrichtungsobjekt

		%img(src="<!-- @path eameschair-1b -->")

		%img(src="<!-- @path eameschair-2 -->")

		%figure
			%img(src="<!-- @path eameschair-3 -->")
			%figcaption
				Kante mit durchscheinender zweiter Lackschicht

		%img(src="<!-- @path eameschair-4 -->")

		%figure
			%img(src="<!-- @path eameschair-makingof-2 -->")
			%figcaption
				Making of – Fixieren der Rundhölzer
		%figure
			%img(src="<!-- @path eameschair-makingof-3 -->")
			%figcaption
				Making of – Auftragen der zweiten Lackschicht

	%section
		%a.btn(href="<!-- @path anfrage -->#") Sie wollen auch so etwas?
		%a.btn(href="<!-- @path project-overview -->#") Alle Projekte





<!-- @include footer -->