<!-- @include header -->
<!-- @include nav -->

%main.page-project-detail

	%section.sec-project-hero
		%h1
			the rooms
			%span Bed & Breakfast & Apartmens
		%img(src="<!-- @path therooms-title -->")

	%section.sec-project-descr
		%p Aus eins wird zwei, ein Unternehmen vergrössert sich. Die ursprüngliche Marke von 2006, wird durch eine Erweiterung beim Namen und einen neuen Leitsatz neu definiert. Zur Einführung gestalteten wir ein minimalistisches Mailing. Die Auflösung erfolgt auf der ebenfalls redesignten <a href="http://teichgraeber.de">Website</a> für die wir auch das Fotoshooting und einen Imagefilm entwickelt haben.

		%ul.leistungen
			%li <a href="#webdesign">Webdesign</a>
			%li <a href="#illustrationen">Illustrationen</a>

	%section.sec-image-block#webdesign
		%h2 Webdesign
		%div
			%img(src="<!-- @path therooms-home -->")
			%img(src="<!-- @path therooms-home-long -->")
			%img(src="<!-- @path therooms-mobile -->")

	%section
		%a.btn(href="http://therooms.at") Website besuchen


	%section.sec-image-block#illustrationen
		%h2 Illustrationen
		%div
			%img(src="<!-- @path therooms-illu-floorplans -->")

			%figure
				%img(src="<!-- @path therooms-illu-map-apartments -->")
				%figcaption
					Illustrationen von Lageplan und Umgebung von Bed & Breakfast sowie den Apartments


	%section
		%a.btn(href="<!-- @path anfrage -->#") Sie wollen auch so etwas?
		%a.btn(href="<!-- @path project-overview -->#") Alle Projekte





<!-- @include footer -->