<!-- @include header -->
<!-- @include nav-light -->

%main.page-project-detail

	%section.sec-project-hero
		%h1.light
			A Typographic Eames Chair
			%span Ein Buchstaben zum Sitzen
		%img(src="<!-- @path eameschair-title -->")

	%section.sec-project-descr
		%p Die legendären Möbeldesigner <a href="http://en.wikipedia.org/wiki/Charles_and_Ray_Eames">Charles und Ray Eames</a> inspirierten die Schriftgestalter Erik van Blokland und House Industries 2010 die wunderschönen Schrift <a href="http://www.houseind.com/fonts/eames">Eames Century Modern</a> zu entwerfen. Verliebt in die Formensprache dieser Schrift wurde sie im Zuge eines freien Projektes wieder zum Einrichtungsobjekt. Der Film zeigt den Entstehungsprozess.

	%section.sec-image-block
		%img(src="<!-- @path eameschair-vimeo -->")

		%img(src="<!-- @path eameschair-1b -->")

		%img(src="<!-- @path eameschair-2 -->")
		
		%img(src="<!-- @path eameschair-3 -->")
	
		%img(src="<!-- @path eameschair-4 -->")

		%img(src="<!-- @path eameschair-makingof-2 -->")

		%img(src="<!-- @path eameschair-makingof-3 -->")

	%section
		%a.btn(href="<!-- @path anfrage -->#") Sie wollen auch so etwas?
		%a.btn(href="<!-- @path project-overview -->#") Alle Projekte





<!-- @include footer -->