<!-- @include header -->
<!-- @include nav -->

%main.page-project-detail

	%section.sec-project-hero
		%h2
			wild degrees
			%span Schräges Design für schräge Möbel
		%img(src="<!-- @path wild-degrees-title -->")

	%section.sec-project-descr
		%p Aus eins wird zwei, ein Unternehmen vergrössert sich. Die ursprüngliche Marke von 2006, wird durch eine Erweiterung beim Namen und einen neuen Leitsatz neu definiert. Zur Einführung gestalteten wir ein minimalistisches Mailing. Die Auflösung erfolgt auf der ebenfalls redesignten <a href="http://teichgraeber.de">Website</a> für die wir auch das Fotoshooting und einen Imagefilm entwickelt haben.

		%h3	Was 86/60 in diesem Projekt gemacht hat:
		%ul.leistungen
			%li Branding
			%li Flyer
			%li Fotoshooting

	%section.sec-image-block
		%h2 Flyer
		%img(src="<!-- @path wild-degrees-flyer-stapel -->")
		%img(src="<!-- @path wild-degrees-flyer-back -->")

	%section.sec-image-block
		%h2 Fotoshooting
		%figure
			%img(src="<!-- @path wild-degrees-nine-john-moerth -->")
			%figcaption
				Imagebilder für den Tisch nine° mit Möbeldesigner John Mörth
		%img(src="<!-- @path wild-degrees-john-moerth-portrait -->")
		%img(src="<!-- @path wild-degrees-poster -->")





	%section
		%a.btn(href="<!-- @path anfrage -->#") Sie wollen auch so etwas?
		%a.btn(href="<!-- @path project-overview -->#") Alle Projekte





<!-- @include footer -->