<!-- @include header -->
<!-- @include nav -->

%main
	%section.wrapper-text

		%h1
			Wir sind 86<span>/</span>60.<br>
			Und haben fertig.

	%nav.project-category
		%ul
			%li
				%a.current(href="#") Alle Arbeiten
			%li
				%a(href="#") Branding
			%li
				%a(href="#") Webdesign
			%li
				%a(href="#") Printdesign
			%li
				%a(href="#") Film
			%li
				%a(href="#") Fotografie
			%li
				%a(href="#") Objektdesign

	%section.sec-project-overview
		%div
			%a(href="<!-- @path projekt-wilddegrees -->")
				.thumb-box
					%img(src="<!-- @path wild-degrees-title -->")
					.thumb-text
						.thumb-title
							wild degrees
						.thumb-subtitle
							Schräges Design für schräge Möbel

		%div
			%a(href="<!-- @path projekt-rettungsboot -->")
				.thumb-box
					%img(src="<!-- @path rettungsboot-title -->")
						.thumb-text
							.thumb-title
								Rettungsboot
							.thumb-subtitle
								Coworking Space Klagenfurt

		%div
			%a(href="<!-- @path projekt-teichgraeber -->")
				.thumb-box
					%img(src="<!-- @path teichgraeber-title -->")
					.thumb-text
						.thumb-title
							Teichgräber
						.thumb-subtitle
							Ein Unternehmen vergrößert sich

		%div
			%a(href="<!-- @path projekt-ballons -->")
				.thumb-box
					%img(src="<!-- @path ballons-title -->")
					.thumb-text
						.thumb-title
							Lass mich nicht hängen
						.thumb-subtitle
							Food-Installation

		%div
			%a(href="<!-- @path projekt-therooms -->")
				.thumb-box
					%img(src="<!-- @path therooms-title-2 -->")
						.thumb-text
							.thumb-title
								the rooms bed & breakfast
							.thumb-subtitle
								Webdesign für außergewöhnliche Unterkünfte


		%div
			%a(href="<!-- @path projekt-eameschair -->")
				.thumb-box
					%img(src="<!-- @path eameschair-title -->")
						.thumb-text
							.thumb-title
								A typographic Eames Chair
							.thumb-subtitle
								Ein Buchstabe zum Sitzen

		%div
			%a(href="<!-- @path projekt-usb -->")
				.thumb-box
					%img(src="<!-- @path usb-title -->")
						.thumb-text
							.thumb-title
								Unser Schulbuffet
							.thumb-subtitle
								Voll gut die Pause


		%div
			%a(href="<!-- @path projekt-dasbeethoven -->")
				.thumb-box
					%img(src="<!-- @path dasbeethoven-title -->")
						.thumb-text
							.thumb-title
								Das Beethoven
							.thumb-subtitle
								Revitalisierung eines Stadtkinos

		%div
			%a(href="<!-- @path anfrage -->")
				.thumb-box.thumb-start-project
					%img(src="<!-- @path empty-thumb -->")
						.thumb-text
							.thumb-title
								Sie wollen auch so etwas?
							.thumb-subtitle
								Ihr Projekt starten »


<!-- @include footer -->