<!-- @include header -->
<!-- @include nav -->

%main.page-project-detail

	%section.sec-project-hero
		%h1
			Unser Schulbuffet
			%span Voll gut die Pause!
		%img(src="<!-- @path usb-title -->")

	%section.sec-project-descr
		%p Eine Kampagne des Gesundheitsministeriums um die Qualität der Schulbuffets zu steigern. 
		%p Aufbauend auf der vorhandenen Bildmarke gestalteten wir in nur zwölf Tagen das Corporate Design und ein Kampagnenkonzept. Gestaltung und Sprache orientieren sich an der Welt der Schulkinder, die inhaltliche Aufbereitung richtet sich jedoch vorrangig an die Buffetbetreiber. Die Tonalität der Kampagne ist bewusst locker und zielt auf Augenhöhe. Alle Maßnahmen dienen der Aufklärung und Motivation bei der wirtschaftlichen Umsetzung.

		%ul.leistungen
			%li <a href="#branding">Branding</a>
			%li <a href="#kampagne">Kampagne</a>
			%li <a href="#film">Film</a>
			%li <a href="#webdesign">Webdesign</a>
			%li <a href="#handbuch">Handbuch</a>
			%li <a href="#plakate">Plakate</a>
			%li <a href="#flyer">Flyer</a>

	%section.sec-image-block#branding
		%h2 Branding

		%figure
			%img(src="<!-- @path usb-icons -->")
			%figcaption
				Icons für Website und Handbuch
		
		%img(src="<!-- @path usb-shirts -->")

	%section.sec-image-block#kampagne
		%h2 Kampagne

	%section.sec-image-block#webdesign
		%h2 Webdesign

	%section.sec-image-block#film
		%h2 Film

	%section.sec-image-block#handbuch
		%h2 Handbuch

		%img(src="<!-- @path usb-handbuch -->")
		%img(src="<!-- @path usb-handbuch-spread -->")
		
		%figure
			%img(src="<!-- @path usb-fotografie -->")
			%figcaption
				Fotos von Rezepten


	%section.sec-image-block#plakate
		%h2 Plakate

		%img(src="<!-- @path usb-plakate-slogan -->")

		%img(src="<!-- @path usb-plakate -->")




	%section.sec-image-block#flyer
		%h2 Flyer
		%figure
			%img(src="<!-- @path usb-flyer -->")
			%figcaption
				Flyer für Buffetbetriebe
		%figure
			%img(src="<!-- @path usb-tagungsflyer -->")
			%figcaption
				Tagungsflyer
		%figure
			%img(src="<!-- @path usb-wettbewerb-flyer -->")
			%figcaption
				Flyer Fotowettbewerb


	%section
		%a.btn(href="<!-- @path anfrage -->#") Sie wollen auch so etwas?
		%a.btn(href="<!-- @path project-overview -->#") Alle Projekte





<!-- @include footer -->