<!-- @include header -->

%main
	.wrapper-text

		%h1
			Wir sind 86<span>/</span>60.<br>
			Neuer Subsatz mit Arbeiten.

	%section.sec-project-overview
		%div
			%a(href="<!-- @path projekt-ballons -->")
				.thumb-box
					%img(src="<!-- @path ballons-thumb -->")
					.thumb-text
						%p
							Lass mich nicht hängen
							%span Food-Installation
		%div
			%a(href="<!-- @path projekt-teichgraeber -->")
				.thumb-box
					%img(src="<!-- @path teichgraeber-thumb -->")
					.thumb-text
						%p
							Teichgräber
							%span Rebranding

		%div
			%a(href="#")
				.thumb-box
					%img(src="<!-- @path birgit-oliver-thumb -->")
						.thumb-text
							%p
								Hochzeitseinladungen Birgit & Oliver
								%span Film

		%div
			%a(href="#")
				.thumb-box
					%img(src="<!-- @path typographic-eames-chair-thumb -->")
						.thumb-text
							%p
								A Typographic Eames Chair
								%span Installation

		%div
			%a(href="#")
				.thumb-box
					%img(src="<!-- @path usb-thumb -->")
						.thumb-text
							%p
								Unser Schulbuffet
								%span Branding

		%div
			%a(href="#")
				.thumb-box
					%img(src="<!-- @path sonnos-film-thumb -->")
						.thumb-text
							%p
								SONNOS
								%span Film

		%div
			%a(href="#")
				.thumb-box
					%img(src="<!-- @path jean-prouve-thumb -->")
						.thumb-text
							%p
								Jean Prouvé by G-Star Raw
								%span Food-Installation

		%div
			%a(href="#")
				.thumb-box
					%img(src="<!-- @path kostbar-thumb -->")
						.thumb-text
							%p
								Kostbar
								%span Food-Installation

		%div
			%a(href="#")
				.thumb-box
					%img(src="<!-- @path qikbee-mailing-thumb -->")
						.thumb-text
							%p
								Qikbee
								%span Direct Mailing

		%section
			%a.btn(href="<!-- @path anfrage -->#") Sie wollen auch so etwas?



<!-- @include footer -->