<!-- @include header -->
<!-- @include nav -->

%main.page-project-detail

	%section.sec-project-hero
		%h1
			Das Beethoven
			%span Revitalisierung eines Stadtkinos
		%img(src="<!-- @path dasbeethoven-title -->")

	%section.sec-project-descr
		%p Dass alte Stadtkinos in Zeiten von Multiplex und Internet vom Aussterben bedrot sind ist nicht Neues. Um dieses Schicksal für das Beethoven Kino Baden zu verhindern erarbeiteten wir Strategie, Konzept und Design für dessen Revitalisierung. Deutliche Eigenständigkeit, mehr Selbstbewusstsein und betonte Kundenorientierung stehen dabei im Vordergrund. Dafür entwickelten wir den Name, einen variablen Slogan, das Branding, Programmhefte, die Fassadengestaltung, Werbemittel und noch zusätzlich Drucksorten.

		%p Dieses Projekt wurde in der Fachzeitschrift Novum veröffentlicht.

		%ul.leistungen
			%li <a href="#branding">Branding</a>
			%li <a href="#drucksorten">Drucksorten</a>
			%li <a href="#programmhefte">Programmhefte</a>
			%li <a href="#programmhefte">Werbemittel</a>
			%li <a href="#programmhefte">Fassadengestaltung</a>


	%section.sec-image-block#branding
		%h2 Branding
		%img(src="<!-- @path dasbeethoven-logo -->")


	%section.sec-image-block#drucksorten
		%h2 Drucksorten
		%figure
			%img(src="<!-- @path dasbeethoven-visitenkarten -->")
			%figcaption
				Aufklappbare Visitenkarten mit gestanztem Logo
		%figure
			%img(src="<!-- @path dasbeethoven-briefpapier -->")
			%figcaption
				Briefpapier mit gestanztem Logo und farbiger Rückseite
		%figure
			%img(src="<!-- @path dasbeethoven-sammelpass -->")
			%figcaption
				Sammelpass „Super Acht“
		%figure
			%img(src="<!-- @path dasbeethoven-popcorntuete -->")
			%figcaption
				Popcorntüte

	%section.sec-image-block#programmhefte
		%h2 Programmhefte
		%img(src="<!-- @path dasbeethoven-programmhefte -->")
		%figure
			%img(src="<!-- @path dasbeethoven-programmhefte-cover -->")
			%figcaption
				Coverserie der Programmhefte
		%img(src="<!-- @path dasbeethoven-programmhefte-spread-1 -->")
		%img(src="<!-- @path dasbeethoven-programmhefte-spread-2 -->")
		%figure
			%img(src="<!-- @path dasbeethoven-programmhefte-center -->")
			%figcaption
				Mittelteil mit herauslösbaren Stickern
		
	%section.sec-image-block#werbemittel
		%h2 Werbemittel
		%img(src="<!-- @path dasbeethoven-plakat-clubbing -->")
		%figure
			%img(src="<!-- @path dasbeethoven-plakat-indy-sex -->")
			%figcaption
				Plakate für Veranstaltungen
		%figure
			%img(src="<!-- @path dasbeethoven-flyer-indiana-jones -->")
			%figcaption
				Flyer Indiana Jones
		%figure
			%img(src="<!-- @path dasbeethoven-flyer-sex-and-the-cinema -->")
			%figcaption
				Flyer Sex and the Cinema
		%figure
			%img(src="<!-- @path dasbeethoven-zeitungsinserat -->")
			%figcaption
				Zeitungsinserat Monatsthema Musik

	%section.sec-image-block#fassadengestaltung
		%h2 Fassadengestaltung
		%figure
			%img(src="<!-- @path dasbeethoven-fassade -->")
			%figcaption
				Fassaden- und Außengestaltung

	%section
		%a.btn(href="<!-- @path anfrage -->#") Sie wollen auch so etwas?
		%a.btn(href="<!-- @path project-overview -->#") Alle Projekte





<!-- @include footer -->