<!-- @include header -->
<!-- @include nav -->

%main
	%section.wrapper-text

		%h1
			Wir sind 86<span>/</span>60.<br>
			Neuer Subsatz mit Arbeiten.

	%section.sec-project-overview
		%div
			%a(href="<!-- @path projekt-wilddegrees -->")
				.thumb-box
					%img(src="<!-- @path wild-degrees-title -->")
					.thumb-text
						.thumb-title
							wild degrees
						.thumb-subtitle
							Branding / Fotoshooting
		%div
			%a(href="<!-- @path projekt-teichgraeber -->")
				.thumb-box
					%img(src="<!-- @path teichgraeber-title -->")
					.thumb-text
						.thumb-title
							Teichgräber
						.thumb-subtitle
							Branding / Mailing / Website / Fotoshooting / Film

		%div
			%a(href="<!-- @path projekt-ballons -->")
				.thumb-box
					%img(src="<!-- @path ballons-thumb -->")
					.thumb-text
						.thumb-title
							Lass mich nicht hängen
						.thumb-subtitle
							Food-Installation

		%div
			%a(href="#")
				.thumb-box
					%img(src="<!-- @path birgit-oliver-thumb -->")
						.thumb-text
							.thumb-title
								Birgit & Oliver
							.thumb-subtitle
								Hochzeitseinladungen / Film

		%div
			%a(href="#")
				.thumb-box
					%img(src="<!-- @path typographic-eames-chair-thumb -->")
						.thumb-text
							.thumb-title
								A Typographic Eames Chair
							.thumb-subtitle
								Installation

		%div
			%a(href="#")
				.thumb-box
					%img(src="<!-- @path usb-thumb -->")
						.thumb-text
							.thumb-title
								Unser Schulbuffet
							.thumb-subtitle
								Branding / Website / Kampagne / Film

		%div
			%a(href="#")
				.thumb-box
					%img(src="<!-- @path sonnos-film-thumb -->")
						.thumb-text
							.thumb-title
								SONNOS
							.thumb-subtitle
								Branding / Website / Film / Buch

		%div
			%a(href="#")
				.thumb-box
					%img(src="<!-- @path jean-prouve-thumb -->")
						.thumb-text
							.thumb-title
								Jean Prouvé by G-Star Raw
							.thumb-subtitle
								Food-Installation

		%div
			%a(href="#")
				.thumb-box
					%img(src="<!-- @path kostbar-thumb -->")
						.thumb-text
							.thumb-title
								Kostbar
							.thumb-subtitle
								Food-Installation

		%div
			%a(href="#")
				.thumb-box
					%img(src="<!-- @path qikbee-mailing-thumb -->")
						.thumb-text
							.thumb-title
								Qikbee
							.thumb-subtitle
								Direct Mailing

	%section
		%a.btn(href="<!-- @path anfrage -->#") Sie wollen auch so etwas?



<!-- @include footer -->