<!-- @include header -->
<!-- @include nav -->

%main
	%section.wrapper-text

		%h1
			Wir sind 86<span>/</span>60.<br>
			Neuer Subsatz mit Arbeiten.

	%section.sec-project-overview
		%div
			%a(href="<!-- @path projekt-wilddegrees -->")
				.thumb-box
					%img(src="<!-- @path wild-degrees-title -->")
					.thumb-text
						.thumb-title
							wild degrees
						.thumb-subtitle
							Branding / Fotoshooting / Flyer & Plakat
		%div
			%a(href="<!-- @path projekt-teichgraeber -->")
				.thumb-box
					%img(src="<!-- @path teichgraeber-title -->")
					.thumb-text
						.thumb-title
							Teichgräber
						.thumb-subtitle
							Branding / Direct Mail / Webdesign / Film / Fotoshooting

		%div
			%a(href="<!-- @path projekt-ballons -->")
				.thumb-box
					%img(src="<!-- @path ballons-title -->")
					.thumb-text
						.thumb-title
							Lass mich nicht hängen
						.thumb-subtitle
							Food-Installation

		%div
			%a(href="<!-- @path projekt-therooms -->")
				.thumb-box
					%img(src="<!-- @path therooms-title -->")
						.thumb-text
							.thumb-title
								the rooms bed & breakfast
							.thumb-subtitle
								Webdesign / Illustrationen

		%div
			%a(href="#")
				.thumb-box
					%img(src="<!-- @path usb-thumb -->")
						.thumb-text
							.thumb-title
								Unser Schulbuffet
							.thumb-subtitle
								Branding / Website / Kampagne / Film



	%section
		%a.btn(href="<!-- @path anfrage -->#") Sie wollen auch so etwas?



<!-- @include footer -->