<!-- @include header -->
<!-- @include nav -->

%main.page-project-detail

	%section.sec-project-hero
		%h1
			Rettungsboot
			%span Coworking Space Klagenfurt
		%img(src="<!-- @path rettungsboot-title -->")

	%section.sec-project-descr
		%p Text

	

		%a.btn(href="<!-- @path anfrage -->#") Sie wollen auch so etwas?
		%a.btn(href="<!-- @path project-overview -->#") Alle Projekte

<!-- @include footer -->