<!-- @include header -->
<!-- @include nav -->

%main

	%section.sec-text-intro
		%h1
			Wir sind 86<span>/</span>60.<br>
			Und das sind unsere Werte.

	
	%section
		
		%ul.werte
			%li
				%strong Wirkungsvoll <span>/</span>
				Wir bauen auf Weitblick. Unsere Ergebnisse sind effizient, nachhaltig und realisierbar.
			%li
				%strong Unkonventionell <span>/</span>
				Wir schaffen Aufmerksamkeit. 

			%li
				%strong Leidenschaftlich <span>/</span>
				Wir haben Freude an dem was wir tun.

			%li
				%strong Ehrlich <span>/</span>
				Wir hinterfragen alles. Unsere Meinung ist konsequent und konstruktiv.

			%li
				%strong Partnerschaftlich <span>/</span>
				In der Agentur, mit Kollegen, mit Kunden. Immer.

	.sec-about-us
		%header.header-image
			%img(src="<!-- @path portrait-oliver-handhelds -->")
			%img(src="<!-- @path portrait-oliver-rampe -->")
			%div
				%h2 Oliver Schöndorfer
				%ul.leistungen
					%li Geboren 1986 in Baden
					%li Seit 2002 Realisieren von Webprojekten
					%li Studium Grafikdesign und mediale Gestaltung, New Design University St. Pölten
					%li seit 2007 Selbständig tätig als Designer
					%li Lehrtätigkeiten an der New Design University und an der Graphischen Wien
		%section
			%h3 Michael über Oliver

			%div
				%p Oliver kenne ich seit seiner Studienzeit als Mediendesigner. Sein gestalterisches Einfühlungsvermögen und sein sprühendes Talent haben mich sofort begeistert. Damals wollte er von mir lernen wie man Designprozesse im Team koordiniert und wie man Kunden für Design sensibilisiert. Beides hat er heute zur Meisterschaft entwickelt. Und so wurde aus dem Praktikanten im Laufe von 8 Jahren mein Partner bei 86/60. 

				%p Ich schätze sein konzeptionelles Talent und sein stets fundiertes Feedback ebenso wie seine Liebe für Typographie und Kalligraphie. Mit Ihm zu arbeiten ist genauso inspirierend wie fruchtbar. Er ist selbstbewusst in seinen Stärken und achtet aufmerksam seine Grenzen. Ein bedingungsloser Teamplayer, der sich nur erreichbare Ziele steckt und dabei immer auf die Neugierde als Karotte vor der Nase vertraut.

				%p Mit Engagement gibt er sein Wissen weiter und hat grosse Freude vor Menschen zu sprechen. Dabei ist er immer selbstreflektiert, herzlich und begeisternd. Ich schätze Ihn für seine Loyalität und seine Handschlagsqualität. Er gibt mir Sicherheit, ergänzt meine Potentiale und stellt die Fragen, die mir nicht einfallen.

				%p Er ist ein wahrer Freund, dem ich voll vertraue und ein Mensch den man einfach gern um sich hat.

	.sec-about-us
		%header.header-image
			%img(src="<!-- @path portrait-michael-handhelds -->")
			%img(src="<!-- @path portrait-michael -->")
			%div
				%h2 Michael Holzer
				%ul.leistungen
					%li Geboren 1960 in Wien.
					%li Schulabbruch mit 15, Lehre zum Elektroinstallateur.
					%li Vertreter für Versicherungen, Heizungen und Dachantennen.
					%li Storemanager bei McDonalds Österreich.
					%li Verkäufer von Unterhaltungselektronik.
					%li Ab 1987 Lehr- und Arbeitsjahre bei einem freien Grafikdesigner.
					%li 1992 Gründung von „Kopf- und Handwerk“.
					%li 1997 Gründung von „dna4“ in Köln.
					%li 2000/2001 Konzeption und Projektmanagement bei DMC in Wien.
					%li 2001 Gründung von „Einvoll“.
		%section
			%h3 Oliver über Michael

			%div

				%p In Konzept und Leidenschaft für die Sache begegnen wir einander. Beide sind wir neugierig und aufgeschlossen Neuem gegenüber. Das gilt für Technologie sowie für Branchen oder Themen. Wir teilen die selben Werte, haben im Design aber unsere jeweiligen Schwerpunkte.

				%p Mit Michael gemeinsam wird vieles einfach. Er stellt die richtigen Fragen um an den Kern der Sache vorzudringen. Er reduziert die Dinge immer aufs Wesentliche. Oft findet er dabei einen wunderbaren Vergleich oder ein Sprachbild, das es leicht macht einen anderen Blickwinkel einzunehmen.

				%p Michaels indirekter Weg zum Designer hat ihn mit vielen verschiedenen Tätigkeiten vertraut gemacht. Ich bewundere wie selbstverständlich und selbstbewusst er diese vielen Erfahrungen in seine heutige Arbeit integriert. Für ihn sind es keine Umwege sondern Ressourcen. Er hat großes Wissen über Materialien und deren Wirkung gesammelt sowie ein unglaubliches Gefühl für Raum entwickelt. Er ist handwerklich sehr geschickt und erfahren – vom Arbeiten mit Holz, Stein, Schweißen, Rohre verlegen bis zum Bau von Lampen und Möbeln kann ich mir nicht vorstellen, dass es etwas gibt, was er nicht bauen oder zumindest planen könnte.

				%p Er verbindet mit großem Weitblick Strategie mit Design. Seine Arbeiten habe konzeptionell immer Hand und Fuß. Als Fotograf und Filmer hat ein wunderbares Gefühl für Bild und Bildsprache. Er denk immer über den Tellerrand hinaus und weiß welches Medium am besten ist, um eine Botschaft zu transportieren. Ganz intuitiv.

				%p Ich schätze ihn für seine lange Erfahrung und seine Genauigkeit. Bei Strategie und Projektmanagement denkt er weitreichend und immer realistisch.

				%p Michael kann gut Grenzen setzen, Richtung und Führung geben, wenn es nötig ist. Dabei ist er sehr konsequent. Das gibt Sicherheit.

				%p Es erstaunt mich immer, wie einfach es mit ihm ist einen schnellen Weg ins Handeln finden. Was vorher Ideen waren wird mit Michael schnell in die Realität gesetzt.




<!-- @include footer -->