<!-- @include header -->

%main

	%h1
		Wir sind 86<span>/</span>60.<br>
		Oliver Schöndorfer und Michael Holzer.

	%section.sec-about-us
		%div
			%img(src="<!-- @path portrait-oliver -->")
			%h2 Oliver Schöndorfer
			%p Max. 1000 Zeichen über Oliver von Michael. Auch gibt es niemanden, der den Schmerz an sich liebt, sucht oder wünscht, nur, weil er Schmerz ist, es sei denn, es kommt zu zufälligen Umständen, in denen Mühen und Schmerz ihm große Freude bereiten können.

			%p Um ein triviales Beispiel zu nehmen, wer von uns unterzieht sich je anstrengender körperlicher Betätigung, außer um Vorteile daraus zu ziehen? Aber wer hat irgend ein Recht, einen Menschen zu tadeln, der die Entscheidung trifft, eine Freude zu genießen, die keine unangenehmen Folgen hat, oder einen, der Schmerz vermeidet. 

			%p Welcher keine daraus resultierende Freude nach sich zieht?Auch gibt es niemanden, der den Schmerz an sich liebt, sucht oder wünscht, nur, weil er Schmerz ist, es sei denn, es kommt zu zufälligen Umständen, in denen Mühen und Schmerz ihm große Freude bereiten können. Um ein triviales Beispiel zu nehmen, wer von uns unterzieht sich je anstrengender körperlicher Betätigung.

		%div
			%img(src="<!-- @path portrait-michael -->")
			%h2 Michael Holzer
			%p Max. 1000 Zeichen über Michael von Oliver Auch gibt es niemanden, der den Schmerz an sich liebt, sucht oder wünscht, nur, weil er Schmerz ist, es sei denn, es kommt zu zufälligen Umständen, in denen Mühen und Schmerz ihm große Freude bereiten können.

			%p Um ein triviales Beispiel zu nehmen, wer von uns unterzieht sich je anstrengender körperlicher Betätigung, außer um Vorteile daraus zu ziehen? Aber wer hat irgend ein Recht, einen Menschen zu tadeln, der die Entscheidung trifft, eine Freude zu genießen, die keine unangenehmen Folgen hat, oder einen, der Schmerz vermeidet, welcher keine daraus resultierende Freude nach sich zieht?

			%p Auch gibt es niemanden, der den Schmerz an sich liebt, sucht oder wünscht, nur, weil er Schmerz ist, es sei denn, es kommt zu zufälligen Umständen, in denen Mühen und Schmerz ihm große Freude bereiten können. Um ein triviales Beispiel zu nehmen, wer von uns unterzieht sich je anstrengender körperlicher Betätigung, außer um Vorteile daraus zu ziehen?
	
	%h2 Freunde gepflegter Kommunikation arbeiten:
	%h3 Wirkungsvoll
	%p Wir denken strategisch und weitblickend. Wir bauen auf Recherche. Unsere Ergebnisse sind effizient, nachhaltig und realisierbar.

	%h3 Unkonventionell
	%p Wir schaffen Aufmerksamkeit. 

	%h3 Leidenschaftlich
	%p Wir haben Freude an dem was wir tun.

	%h3 Ehrlich
	%p Wir hinterfragen alles. Wir sagen konsequent und konstruktiv was wir denken.

	%h3 Partnerschaftlich 
	%p Immer. In Agentur, mit Kollegen und mit Kunden. Wir suchen immer nach einer Win/Win-Situation.


<!-- @include footer -->