<!-- @include header -->

%main

	%h1
		Wir sind 86<span>/</span>60.<br>
		Oliver Schöndorfer und Michael Holzer.

	%h2 Oliver Schöndorfer
	%p Max. 1000 Zeichen über Oliver von Michael

	%h2 Michael Holzer
	%p Max. 1000 Zeichen über Michael von Oliver
	
	%h3 Wirkungsvoll
	%p Wir denken strategisch und weitblickend. Wir bauen auf Recherche. Unsere Ergebnisse sind effizient, nachhaltig und realisierbar.

	%h3 Unkonventionell
	%p Wir schaffen Aufmerksamkeit. 

	%h3 Leidenschaftlich
	%p Wir haben Freude an dem was wir tun.

	%h3 Ehrlich
	%p Wir hinterfragen alles. Wir sagen konsequent und konstruktiv was wir denken.

	%h3 Partnerschaftlich 
	%p Immer. In Agentur, mit Kollegen und mit Kunden. Wir suchen immer nach einer Win/Win-Situation.


<!-- @include footer -->