<!-- @include header -->
<!-- @include nav -->

%main

	%section.sec-hero.sec-about-us-hero
		.hero-text
			%h1
				Wir sind 86<span>/</span>60.<br>
				Oliver Schöndorfer und Michael Holzer
		.hero-text
			%p
				Wir ergänzen einander perfekt. Unsere Persönlichkeiten, gebündelten Erfahrungen und Kenntnisse ergeben eine Fülle an Möglichkeiten für verschiedenste Kunden. Wir sind extrem neugierig, was wir für Sie tun können. Welche Probleme wir für Sie lösen dürfen. Und wie wir es auch Ihren Kunden leicht machen werden, Sie ins Herz zu schließen.		
		.hero-image
			%img(src="<!-- @path ueber-uns-test -->")
			%img(src="<!-- @path ueber-uns-test -->")
			%img(src="<!-- @path ueber-uns-test -->")

	.sec-about-us
		%header.header-image
			%img(src="<!-- @path portrait-oliver-handhelds -->")
			%img(src="<!-- @path portrait-oliver-rampe -->")
			%div
				%h2 Oliver Schöndorfer
				%ul.biografie
					%li Geboren 1986 in Baden
					%li Seit 2002 Realisieren von Webprojekten
					%li Studium Grafikdesign und mediale Gestaltung, New Design University St. Pölten
					%li seit 2007 Selbständig tätig als Designer
					%li Lehrtätigkeiten an der New Design University und an der Graphischen Wien
				%p.social-link
					%a(href="http://twitter.com/glyphe")
						%i.fa.fa-twitter
						glyphe
					%a(href="http://zeichenschatz.net")
						%i.fa.fa-compass
						Olivers Blog


	.sec-about-us
		%header.header-image
			%img(src="<!-- @path portrait-oliver-handhelds -->")
			%img(src="<!-- @path portrait-michael -->")
			%div
				%h2 Michael Holzer
				%ul.biografie
					%li Geboren 1960 in Wien.
					%li Schulabbruch mit 15, Lehre zum Elektroinstallateur.
					%li Vertreter für Versicherungen, Heizungen und Dachantennen.
					%li Storemanager bei McDonalds Österreich.
					%li Verkäufer von Unterhaltungselektronik.
					%li Ab 1987 Lehr- und Arbeitsjahre bei einem freien Grafikdesigner.
					%li 1992 Gründung von „Kopf- und Handwerk“.
					%li 1997 Gründung von „dna4“ in Köln.
					%li 2000/2001 Konzeption und Projektmanagement bei DMC in Wien.
					%li 2001 Gründung von „Einvoll“.
				%p.social-link
					%a(href="http://twitter.com/glyphe")
						%i.fa.fa-flickr
						flickr
					%a(href="http://zeichenschatz.net")
						%i.fa.fa-instagram
						Instagram
					%a(href="http://zeichenschatz.net")
						%i.fa.fa-compass
						Michaels Blog



	%section
		%h2 Wir arbeiten immer
		%ul.werte
			%li
				%strong Wirkungsvoll <span>/</span>
				Unsere Ergebnisse sind effizient, nachhaltig und realisierbar.
			%li
				%strong Unkonventionell <span>/</span>
				Wir schaffen Aufmerksamkeit. 

			%li
				%strong Leidenschaftlich <span>/</span>
				Wir haben Freude an dem was wir tun.

			%li
				%strong Ehrlich <span>/</span>
				Wir hinterfragen alles. Unsere Meinung ist konsequent und konstruktiv.

			%li
				%strong Partnerschaftlich <span>/</span>
				In der Agentur, mit Kollegen, mit Kunden. Immer.

	%section
		%h2 Mit diesen Kunden haben wir bereits gearbeitet
		%ul.kunden
			%li AGES
			%li
				%a(href="<!-- @path projekt-dasbeethoven -->")Beethoven Kino Baden
			%li Berufsverband Österreichischer PsychologInnen BÖP
			%li BMWF
			%li Bundesministerium für Gesundheit
			%li bnk Büro für nachhaltige Kompetenz
			%li Gourmet
			%li Hemdenmacher Gino Venturini
			%li Hoffmann Institut
			%li Mediaprint Zeitungsdruckerei
			%li Österreichische Akademie für Psychologie ÖAP
			%li Planungsbüro Seestadt Asparn
			%li SONNOS
			%li Teichgräber
			%li vitra
			%li wild degrees

	%section
		%h2 Und wann arbeiten wir mit Ihnen?
		%p
			Wir freuen uns auf Ihren Anruf: 
			%a(href="tel:+436608142150")
				%span +43 660 81 42 150

<!-- @include footer -->