<!-- @include header -->
<!-- @include nav -->

%main
	%section
		%div
			%h1
				Wir sind 86<span>/</span>60.<br>
				Und Sie?

			%h2 Sie gründen ein Unternehmen
			%p und überlegen, was Sie jetzt alles wirklich brauchen. Eigentlich haben Sie nur Geld für einen Flyer<sup>*</sup>. Wir beraten Sie, schauen auf Ihr Budget, denken an Dinge, die Sie selbst noch gar nicht wissen können. Wir lieben es, in dieser spannenden und sehr emotionalen Phase an Ihrer Seite zu sein.
			%p.fn#fn1 <sup>*</sup> Vielleicht wird es bei uns dann doch kein Flyer, aber Hauptsache Ihre Kunden kommen …

			%h2 Sie führen einen seit vielen Jahren gut laufenden Betrieb.
			%p Aber neulich ist Ihnen aufgefallen, dass Sie kaum Kunden unter 40 haben. Das macht Sie ein bisschen nervös. Wir analysieren die Situation und zeigen Ihnen, wie Sie zusätzlich jüngere Leute gewinnen.

			%h2 Sie sind Kuratorin
			%p und brauchen für Ihre nächste Ausstellung ein gutes Leitsystem und ein starkes Design für Katalog und Plakate. Seien Sie darauf gefasst, dass wir Sie vor Begeisterung über Ihre hohen Ansprüche fest drücken müssen.

			%h2 Sie sind ein gestandener Familienbetrieb,
			%p der seine Lebensmittel besser vermarkten will. Wir probieren erst einmal alles durch<sup>*</sup> und liefern Ihnen dann ein Verpackungsdesign und Werbematerial, das gut ausschaut und verkauft.
			%p.fn#fn2 * Wir essen nämlich gerne gut.

			%h2 Sie sind eine internationale Company
			%p und fix bei einer internationalen Advertising Agency eingeparkt. Aber Sie wollen ja nur einen Markenartikel relaunchen und haben das Gefühl, dass wir das stemmen könnten. Und Recht werden Sie gehabt haben!
			
			%p Sie sehen schon. Wir denken bereits über Kunden nach, die wir noch gar nicht haben. Was glauben Sie, wie schön das erst werden wird, wenn wir uns kennenlernen.

			%p Wer auch immer Sie sind, rufen Sie einfach an: +43 600 81 42 150

<!-- @include footer -->