label
	display: block
	margin-bottom: 1.1em

	span // Der eigentliche Label-Text
		margin-bottom: 0.2em
		display: block	

.form-contact
	label span
		display: block		

.form-anfrage

input
	font-family: "ff-more-web-pro", "More Pro", Times, "Times New Roman", serif
	padding: 0.4em 0.6em 0.3em
	border: 2px solid $brand-color-3
	-webkit-appearance: none
	-webkit-border-radius: 0
	border-radius: 0
	margin-right: 0.5em
	width: 100%
	max-width: $max-width-text*0.75

	&:focus
		border-color: darken($brand-color-5, 20%)
		outline: none

	&[type^="email"]
		background-color: $background-color

	&[type^="submit"]
		border-color: $brand-color-4
		background-color: $brand-color-4
		transition: background 0.3s ease-in-out, border 0.3s ease-in-out
		width: inherit
		padding-left: 1em
		padding-right: 1em
		

		&:hover
			background-color: darken($brand-color-5, 20%)
			border-color: darken($brand-color-5, 20%)
			color: #fff

		&:active
			background-color: $brand-color-2
			border-color: $brand-color-2

textarea
	@extend input
	height: 8em


select
	@extend input
	width: auto
	background: transparent url('http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png') no-repeat 95% center
	padding-right: 1.8em

	&:after
		content: ">"
		color: #000
		font-size: 20px
		margin-left: 100px
