html
	height: 100%

body
	background-color: $brand-color-4
	padding: $outside-border

	@include respond-to(handhelds)
		padding: $nav-handhelds-height $outside-border-handhelds 0
	
*, *:before, *:after
	webkit-box-sizing: border-box
	moz-box-sizing: border-box
	box-sizing: border-box