a:link, a:visited
	text-decoration: none
	color: inherit
	background-image: url('link-underline')
	background-repeat: repeat-x
	background-position: bottom
	padding-bottom: 0px
	transition: color 0.3s ease-in-out, background 0.2s ease-out 0.1s

a:hover 
	// color: $brand-color-2
	background-position: 0 75%

a:active, a:focus
	background-color: $brand-color-2
	color: #fff
	background-image: none

header .current
	color: $brand-color-2

	h1
		color: $brand-color-1


nav, .project-category
	a:link, a:visited
		color: $brand-color-1
		text-decoration: none
		background-image: none
		transition: all 0.3s ease-in-out

		&.current
			color: $brand-color-2

	a:hover, a:active
		color: $brand-color-2
		background-color: inherit


.nav-light
	@include respond-to(medium-screens)
		a:link, a:visited
			color: #fff

		a:hover, a:active
			color: $brand-color-2

#nav-link:active, #nav-link:hover, #nav-link:focus
	color: $brand-color-1 // damit der Toogle Button für die Handhelds Navi nicht rot ist

footer
	a:link, a:visited
		background-image: none

	a:hover, a:focus
		color: $brand-color-2


// Links bei Leistungen im Projektdetail
.leistungen
	a:before
		@extend .fa-css-prefix
		content: $fa-var-arrow-circle-down // Pfeil runter
		margin: 0 0.3em 0 0
		color: $brand-color-3
		transition: color 0.2s 0.2s ease-in-out

	a:link, a:visited
		background-image: none

	a:hover
		color: $brand-color-2

		&:before
			color: $brand-color-2






a[href^="tel:"]:link, a[href^="tel:"]:visited
	background-image: none  // keine Unterstrichung der telefonnummer-Links
	
	@include respond-to(handhelds)
		display: block
		margin: 0.5em 0

	span
		@include respond-to(handhelds)		
			background-color: $brand-color-4
			padding: 0.4em 0.8em 0.3em
			transition: color 0.3s ease-in-out, background 0.2s ease-out 0.1s

			&:hover
				background-color: $brand-color-3
				color: $brand-color-1

			&:active, &:focus
				background-image: none
				background-color: $brand-color-1
				color: #fff


		&:before
			@extend .fa-css-prefix
			@include respond-to(handhelds)
				content: $fa-var-phone // Telefon-Icon bei Handhelds
				margin-right: 0.2em


.social-link, .kunden
	a:link, a:visited
		background-image: none
	a:hover
		color: $brand-color-2
	i
		margin-right: 0.1em
		margin-left: 0.4em	
		color: $brand-color-2		

	a:link:first-child i
		margin-left: 0



.article-blog header
	a:link, a:visited
		background-image: none
	a:hover
		color: $brand-color-2

