nav
	a:link, a:visited
		color: $brand-color-1
		text-decoration: none
		background-image: none
		transition: all 0.3s ease-in-out

		&.current
			color: $brand-color-2

	a:hover, a:active
		color: $brand-color-2
		background-color: inherit

footer
	a:link, a:visited
		background-image: none

a:link, a:visited
	text-decoration: none
	color: inherit
	background-image: url('link-underline')
	background-repeat: repeat-x
	background-position: bottom
	padding-bottom: 0px
	transition: background-color 0.3s ease-in-out

a:hover 
	color: $brand-color-2
	background-image: none

a:active, a:focus
	background-color: $brand-color-2
	color: #fff
	background-image: none

.current
	color: $brand-color-2

	h1
		color: $brand-color-1

