header:after // fixer Rahmen oben erst ab medium Screens
	content: ""
	position: fixed
	top: 0
	left: 0
	right: 0
	border-top: $outside-border solid $brand-color-4
	z-index: 999

	@include respond-to(handhelds)
		border-top-width: $outside-border-handhelds

	@media only screen and (max-height: 450px)
		border-top-width: 0 // blednet border-top aus, wenn screen unter 400px hoch ist


header nav
	font-size: 1.1em
	font-weight: 500
	@include respond-to(wide-screens)
		font-weight: 400

	@include respond-to(medium-screens)
		position: fixed
		top: $outside-border
		left: $outside-border
		right: $outside-border
		z-index: 900
		height: $header-height
		padding-top: $outside-border

	span
		color: $brand-color-2

	> div
		margin: 0 $inner-distance

	ul
		padding: $outside-border-handhelds 0

		@include respond-to(medium-screens)
			padding: $outside-border 0		

	li
		@include respond-to(medium-screens)
			display: inline-block
			margin-right: 0.7em


.nav-main
	@include respond-to(handhelds)
		position: fixed
		top: 0
		left: 0
		right: 0
		display: none  // blendet bei Handhelds Navi zuerst aus
		background-color: $brand-color-4
		padding: $nav-handhelds-height $outside-border-handhelds 0
		border-bottom: $outside-border-handhelds solid $brand-color-4
		z-index: 800

	@include respond-to(medium-screens)
		position: absolute

.nav-collapsed
	@include respond-to(medium-screens)
		display: none
		top: $outside-border

	@include respond-to(handhelds)
		position: fixed // Fixe Position bei Handhelds für den Menü-Button
		top: $outside-border-handhelds
		left: $outside-border-handhelds
		right: $outside-border-handhelds
		z-index: 999
		padding: 0 0 $outside-border-handhelds 0
		height: 45px

	a:link, a:visited
		display: inline-block
		margin: -0.2em -0.5em -0.3em 0
		padding: 0.1em 0.5em 0em
		background-color: rgba($brand-color-4,0.9)

		@include respond-to(handhelds)
			margin-left: -0.5em // Damit der Button weiter links ist am Handy

	a:hover
		background-color: $brand-color-4

		&:after
			color: $brand-color-2

	a:after	// Symbol nach dem Logo
		@extend .fa-css-prefix
		font-size: 0.9em
		transition: color 0.2s ease-in-out

		@include respond-to(handhelds)
			content: $fa-var-bars
			margin-left: 0.2em

		@include respond-to(medium-screens)
			content: $fa-var-chevron-circle-up
			margin-left: 0.4em

.nav-handhelds
	@include respond-to(handhelds)
		left: 0
		right: 0
		top: 0
		background-color: $brand-color-4
		height: 55px

		a, a:hover
			margin-left: 0
			padding-top: $outside-border-handhelds


.project-category
	@extend .biografie
	margin: 2em $inner-distance

	@include respond-to(handhelds)
		margin: 1em $inner-distance 0.5em

	ul
		padding: 0

	li:after
		margin-left: 0



