.nav-main
	// margin-bottom: 1em

	// @include respond-to(medium-screens)
	// 	border-top: $outside-border solid #fff 
	// 	padding: 0 $outside-border 0
	// 	position: fixed
	// 	top: 0
	// 	left: 0
	// 	right: 0
	// 	z-index: 999
	// 	background-color: rgba(255,255,255,0.95)

	ul
		// border-bottom: 2px solid $brand-color-1
		padding-bottom: 0.8em

		@include respond-to(medium-screens)
			text-align: right
			padding-top: 0.8em

		&:after // Clearfix wg. gefloateter li
			content: ""
			display: table
			clear: both

	li
		@include respond-to(medium-screens)
			display: inline-block
			margin-left: 1em

			&:first-child
				float: left
				margin: -1.1em 0 0 0 // Minus, damit Logo auf einer Line mit Links ist

	
