.coming-soon
	background-color: #bbb
	background-image: url('heads')
	background-position: bottom center
	background-repeat: no-repeat
	background-size: cover
	height: 100%
	padding: 2em

.sec-project-hero
	@include respond-to(medium-screens)
		position: relative

	img
		width: 100%


.sec-image-block
	margin: $outside-border 0
	@include grid(0)

	@include respond-to(wide-screens)
		@include grid($outside-border)

	img
		width: 100%

	> div
		@include respond-to(wide-screens)
			@include col-1-2



footer
	background-color: $brand-color-3
	margin-bottom: $outside-border
