.coming-soon
	background-color: #bbb
	background-image: url('heads')
	background-position: bottom center
	background-repeat: no-repeat
	background-size: cover
	height: 100%
	padding: 2em

.sec-project-hero
	@include respond-to(medium-screens)
		position: relative

	img
		width: 100%


.sec-image-block
	@include grid($outside-border)

	img
		width: 100%

	> div
		@include col-1-1

		@include respond-to(wide-screens)
			@include col-1-2


.sec-project-details

	@include respond-to(medium-screens)
		@include grid($outside-border)
		
		> div
			@include col-1-2

footer
	border-top: 2px solid $brand-color-1
	padding: 1em 0 $outside-border

	@include respond-to(handhelds)
		> div
			margin-bottom: 0.5em

	@include respond-to(medium-screens)
		@include grid(0)
		
		> div
			@include col-1-2
