.coming-soon
	background-color: #bbb
	background-image: url('heads')
	background-position: bottom center
	background-repeat: no-repeat
	background-size: cover
	height: 100%
	padding: 2em


.sec-home-intro
	background-color: $brand-color-4
	padding: $inner-distance

	@include respond-to(medium-screens)
		height: 115% // 115%-pfusch damit irgendwie die header-Höhe auch ergänzt wird
		display: -webkit-flex
		display: flex
		background-image: url(home-stairs)
		background-repeat: no-repeat
		background-size: 100%
		background-position: bottom

		> div
			margin: auto 0 // vertikal mit flexbox zentriert


.sec-home-about

	@include img-full-width

	@include respond-to(medium-screens)
		position: relative

	> div:first-child
		position: relative

	> div:last-child
		padding: 0 $inner-distance





.sec-project-hero
	@include respond-to(medium-screens)
		position: relative

	img
		width: 100%

.sec-project-overview
	@include grid($outside-border)

	img
		width: 100%

	> div
		@include col-1-1

		@include respond-to(medium-screens)
			@include col-1-2

		@include respond-to(wide-screens)
			@include col-1-3


.sec-image-block
	@include grid($outside-border)

	img
		width: 100%

	> div
		@include col-1-1

		@include respond-to(wide-screens)
			@include col-1-2


footer
	border-top: 2px solid $brand-color-1
	padding: 1em 0 $outside-border

	@include respond-to(handhelds)
		> div
			margin-bottom: 0.5em

	@include respond-to(medium-screens)
		@include grid(0)
		
		> div
			@include col-1-2
