@mixin text-on-img
	color: #fff
	text-shadow: 1px 1px 5px #000

body
	font-family: "ff-more-web-pro", "More Pro", Times, "Times New Roman", serif
	font-weight: 400

	@include respond-to(medium-screens)
		font-size: 1.1em

	@include respond-to(wide-screens)
		font-size: 1.2em

::selection
	background: $brand-color-2
	color: #fff

h1
	font-size: 2.2em
	font-weight: 400
	line-height: 1.3

	span
		color: $brand-color-2

h2
	font-size: 1.4em
	line-height: 1.4
	font-weight: 500
	margin: 2em 0 0.5em

h3
	font-size: 1em
	margin: 2em 0 0.5em

p
	line-height: 1.7
	margin: 0.5em 0

	max-width: 40em


.nav-main
	font-weight: 500
	font-size: 1.1em

	@include respond-to(wide-screens)
		font-weight: 400

	h1
		font-size: 1.8em
		font-weight: 400
		margin: 0

	span
		color: $brand-color-2



// ##############
// ### LISTEN ###
// ##############

main
	ul
		list-style: none
		padding-left: 0.75em

	li
		margin-bottom: 0.5em

	li:before
		content: "+"
		color: $brand-color-2
		margin: 0 0.25em 0 -0.7em

.leistungen
	padding: 0
	margin-top: 0

	li
		display: inline-block
		margin: 0

	li:before
		content: none

	li:after
		content: " /"
		color: $brand-color-3

	li:last-child:after
		content: none

.credits
	padding: 0

	li:before
		content: none


// ################
// ### SECTIONS ###
// ################

footer
	font-weight: 500
	margin-top: 3em

	span
		color: $brand-color-2

	ul
		list-style: none
		margin: 0
		padding: 0

	li
		display: inline-block
		margin-right: 0.5em

		&:last-child
			margin-right: 0

	nav
		@include respond-to(medium-screens)
			text-align: right


.coming-soon
	h1
		font-weight: 400
		line-height: 1.2
		font-size: 2.5em

		@include respond-to(handhelds)
			font-size: 2em

		@include respond-to(medium-screens)
			position: absolute
			left: 50%
			top: 50%
			margin-top: -2em
			margin-left: -5em

		@include respond-to(wide-screens)
			font-size: 3em


	span
		color: $brand-color-2


.sec-home-intro
	@include respond-to(medium-screens)
		font-size: 1.1em


.sec-home-about
	h2
		@include respond-to(medium-screens)
			// Text Über Bild
			position: absolute
			bottom: 15%
			width: 100%
			text-align: center
			font-weight: 400
			font-size: 1.5em
			@include text-on-img

		@include respond-to(wide-screens)
			font-size: 1.8em

	p
		@include respond-to(medium-screens)
		margin: 1em auto

.sec-project-hero
	h2
		margin-top: 0
		font-weight: 400
		line-height: 1.3
		font-size: 2em

		@include respond-to(handhelds)
			margin-bottom: 0.75em

		@include respond-to(medium-screens)
			@include text-on-img
			position: absolute
			top: 50%
			left: $inner-distance
			z-index: 200
			height: 80px
			width: 500px
		@include respond-to(wide-screens)
			font-size: 2.5em
			width: $max-width
 
	span
		display: block
		font-style: italic
		font-size: 0.6em


.sec-project-descr
	margin-bottom: 3em


.sec-project-details
	h3
		font-weight: 500


