body
	font-family: "ff-more-web-pro", "More Pro", Times, "Times New Roman", serif
	font-weight: 400

	@include respond-to(medium-screens)
		font-size: 1.1em

	@include respond-to(wide-screens)
		font-size: 1.2em

::selection
	background: $brand-color-2
	color: #fff

main, .sonntag
	@include respond-to(giant-screens)
		font-size: 1.2em // Generell größere Schrift, bei größeren Bidschirm


h1
	font-size: 2.2em
	font-weight: 400
	line-height: 1.2
	margin: 1em 0 0.5em
	@include respond-to(handhelds)
		font-size: 2em
		margin-top: 0.5em

	span
		color: $brand-color-2

h2
	font-size: 1.4em
	line-height: 1.4
	font-weight: 500
	margin: 2em 0 0.5em

h3
	font-size: 1em
	margin: 2em 0 0.5em
	font-weight: 500

p
	line-height: 1.7
	margin: 0.9em 0
	max-width: $max-width-text
	@include respond-to(handhelds)
		line-height: 1.5


// ##############
// ### LISTEN ###
// ##############

main
	ul
		list-style: none
		padding-left: 0.75em

	li
		margin-bottom: 0.5em

	li:before
		content: "+"
		color: $brand-color-2
		margin: 0 0.25em 0 -0.7em

.werte
	padding: 0
	margin: 3em 0 6em

	li:before
		content: none

	span
		color: $brand-color-2


.leistungen
	padding: 0
	margin-top: 0

	li
		margin: 0 0.7em 0 0

		@include respond-to(medium-screens)
			display: inline

	li:before
		content: none



.credits
	padding: 0

	li:before
		content: none


// #############
// ### PAGES ###
// #############

.page-home
	h2
		@include respond-to(medium-screens)
			font-weight: 400
			font-size: 1.5em

		@include respond-to(wide-screens)
			font-size: 1.8em

		span
			color: $brand-color-2


.page-project-detail
	
	h2
		font-size: 1.6em
		padding-top: 3.5em // damit es nicht mit dem Up-Button kollidiert

		@include respond-to(handhelds)
			font-size: 1.4em
			padding-top: 2.5em // damit es nicht mit dem Nav-Button kollidiert



// ################
// ### SECTIONS ###
// ################

footer

	span
		color: $brand-color-2

	ul
		list-style: none
		margin: 0
		padding: 0

	li
		display: inline-block
		margin-right: 0.5em

		&:last-child
			margin-right: 0

	nav
		@include respond-to(medium-screens)
			text-align: right




.sec-project-hero
	h1
		font-weight: 400
		line-height: 1.3
		font-size: 2em

		@include respond-to(handhelds)
			margin-bottom: 0.75em

		@include respond-to(medium-screens)
			@include text-on-img
			position: absolute
			bottom: $inner-distance
			left: $inner-distance
			z-index: 200
			height: 80px
			width: 500px

		@include respond-to(wide-screens)
			font-size: 2.5em
			bottom: $inner-distance*2.5
			width: $max-width
 
		span
			display: block
			font-style: italic
			font-size: 0.6em
			color: inherit // damit es nicht rot wird wie andere Spans in h1

			@include respond-to(handhelds)
				font-size: 0.5em


.sec-project-descr
	margin-top: $inner-distance





.fn
	font-style: italic


