%footer
	%div
		%ul
			%li	86<span>/</span>60
			%li
				%a(href="mailto:beide@8660.at") beide@8660.at
			%li +43 660 81 42 150
	%div
		%nav
			%ul.nav-footer-right
				%li
					%a(href="#") AGB
				%li
					%a(href="#") Impressum
				%li
					%a(href="#") Kontakt