%footer
	%div
		%ul.nav-footer-left
			%li
				%a(href="<!-- @path kontakt -->") Kontakt
			%li
				%a(href="<!-- @path impressum -->") Impressum
			%li
				%a(href="<!-- @path index_sonntag -->") AGB
	%div
		%ul.nav-footer-right
			%li
				%a(href="#") <i class="fa fa-behance"></i>
			%li
				%a(href="#") <i class="fa fa-vimeo-square"></i>