%nav.nav-main
	%ul
		%li
			%a(href="<!-- @path index -->")
				%h1	86<span>/</span>60
		%li
			%a(href="<!-- @path index -->")Start
		%li
			%a(href="<!-- @path leistungen -->")Leistungen
		%li
			%a(href="<!-- @path project-overview -->")Arbeiten
		%li
			%a(href="<!-- @path ueber_uns -->")Über uns
		%li
			%a(href="<!-- @path ueber_sie -->")Über Sie
		%li
			%a(href="<!-- @path kontakt -->")Kontakt